
// Tab-Item
ul.nav-tab{
  list-style: none;
  .nav-item{ 
    &.active{
      border-bottom: 5px solid $secondary;      
      a.nav-link{
        color: $white !important;
      }
    }   
    a.nav-link{
      text-decoration:none;  
      &:hover{      
        cursor: pointer;
        color: $white !important;      
      }      
    }
  }

}

ul.task-list{
  
  li{
    list-style:  none;
  }  
}

.from-cancel {
  &:hover{
    background-color: $danger !important;
    color: $cancelHover !important;
  }
  
}
.form-add{  
  &:hover{
    background-color: $white !important;
    color: $okHover !important;
  }
}

input.addInput::placeholder{
  color: $gray;
}


input.addInput{
  width: 545px;
}

// input.addInput:invalid {
//   //border: 2px dashed red;
//   //background-image: linear-gradient(to right, pink, lightgreen);
// }

// input.addInput:invalid:required {
//   //background-image: linear-gradient(to right, pink, lightgreen);
//   border-bottom:1px solid $gray-200;
// }

// input.addInput:valid {
//   border: 2px dashed red;
// }
