@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


$white:#FFFFFF;
$black:#000000;
$secondary:#00408B;
$primary:#4A90E2;
$info : #FFF2DC;
$danger:#D0021B;
$gray:   #C8C8C8;
$gray-200:#9B9B9B;

$theme-colors: (
  "primary":    #4A90E2 ,
  "secondary":  $secondary,
  "success":    #198754,
  "info":     #FFF2DC,
  "warning":  #F5A623,
  "danger":   #D0021B,
  "light":    #F2F2F2,
  "dark":     #757575,
  "gray":     #C8C8C8, 
  "gray-100":#E1E1E1,
  "gray-200": $gray-200,
  "black":    $black,
  "white":    $white  
) !default;
$font-family-Roboto-700: 'Roboto', sans-serif;
$font-family-Roboto-100: 'Roboto-Regular', sans-serif;

$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
